# [BibliotecaFrom]

In [0]:
USE [master]
GO

In [0]:
/****** Object:  Database [BibliotecaFrom]    Script Date: 15/05/2024 03:53:48 p. m. ******/
CREATE DATABASE [BibliotecaFrom]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BibliotecaFrom', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\BibliotecaFrom.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BibliotecaFrom_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\BibliotecaFrom_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
ALTER DATABASE [BibliotecaFrom] SET COMPATIBILITY_LEVEL = 160
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BibliotecaFrom].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
ALTER DATABASE [BibliotecaFrom] SET ANSI_NULL_DEFAULT OFF 
GO
ALTER DATABASE [BibliotecaFrom] SET ANSI_NULLS OFF 
GO
ALTER DATABASE [BibliotecaFrom] SET ANSI_PADDING OFF 
GO
ALTER DATABASE [BibliotecaFrom] SET ANSI_WARNINGS OFF 
GO
ALTER DATABASE [BibliotecaFrom] SET ARITHABORT OFF 
GO
ALTER DATABASE [BibliotecaFrom] SET AUTO_CLOSE OFF 
GO
ALTER DATABASE [BibliotecaFrom] SET AUTO_SHRINK OFF 
GO
ALTER DATABASE [BibliotecaFrom] SET AUTO_UPDATE_STATISTICS ON 
GO
ALTER DATABASE [BibliotecaFrom] SET CURSOR_CLOSE_ON_COMMIT OFF 
GO
ALTER DATABASE [BibliotecaFrom] SET CURSOR_DEFAULT  GLOBAL 
GO
ALTER DATABASE [BibliotecaFrom] SET CONCAT_NULL_YIELDS_NULL OFF 
GO
ALTER DATABASE [BibliotecaFrom] SET NUMERIC_ROUNDABORT OFF 
GO
ALTER DATABASE [BibliotecaFrom] SET QUOTED_IDENTIFIER OFF 
GO
ALTER DATABASE [BibliotecaFrom] SET RECURSIVE_TRIGGERS OFF 
GO
ALTER DATABASE [BibliotecaFrom] SET  ENABLE_BROKER 
GO
ALTER DATABASE [BibliotecaFrom] SET AUTO_UPDATE_STATISTICS_ASYNC OFF 
GO
ALTER DATABASE [BibliotecaFrom] SET DATE_CORRELATION_OPTIMIZATION OFF 
GO
ALTER DATABASE [BibliotecaFrom] SET TRUSTWORTHY OFF 
GO
ALTER DATABASE [BibliotecaFrom] SET ALLOW_SNAPSHOT_ISOLATION OFF 
GO
ALTER DATABASE [BibliotecaFrom] SET PARAMETERIZATION SIMPLE 
GO
ALTER DATABASE [BibliotecaFrom] SET READ_COMMITTED_SNAPSHOT OFF 
GO
ALTER DATABASE [BibliotecaFrom] SET HONOR_BROKER_PRIORITY OFF 
GO
ALTER DATABASE [BibliotecaFrom] SET RECOVERY FULL 
GO
ALTER DATABASE [BibliotecaFrom] SET  MULTI_USER 
GO
ALTER DATABASE [BibliotecaFrom] SET PAGE_VERIFY CHECKSUM  
GO
ALTER DATABASE [BibliotecaFrom] SET DB_CHAINING OFF 
GO
ALTER DATABASE [BibliotecaFrom] SET FILESTREAM( NON_TRANSACTED_ACCESS = OFF ) 
GO
ALTER DATABASE [BibliotecaFrom] SET TARGET_RECOVERY_TIME = 60 SECONDS 
GO
ALTER DATABASE [BibliotecaFrom] SET DELAYED_DURABILITY = DISABLED 
GO
ALTER DATABASE [BibliotecaFrom] SET ACCELERATED_DATABASE_RECOVERY = OFF  
GO
EXEC sys.sp_db_vardecimal_storage_format N'BibliotecaFrom', N'ON'
GO
ALTER DATABASE [BibliotecaFrom] SET QUERY_STORE = ON
GO
ALTER DATABASE [BibliotecaFrom] SET QUERY_STORE (OPERATION_MODE = READ_WRITE, CLEANUP_POLICY = (STALE_QUERY_THRESHOLD_DAYS = 30), DATA_FLUSH_INTERVAL_SECONDS = 900, INTERVAL_LENGTH_MINUTES = 60, MAX_STORAGE_SIZE_MB = 1000, QUERY_CAPTURE_MODE = AUTO, SIZE_BASED_CLEANUP_MODE = AUTO, MAX_PLANS_PER_QUERY = 200, WAIT_STATS_CAPTURE_MODE = ON)
GO

# [dbo].[Libro]

In [0]:
USE [BibliotecaFrom]
GO

In [0]:
/****** Object:  Table [dbo].[Libro]    Script Date: 15/05/2024 03:53:49 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Libro](
	[id_libro] [int] IDENTITY(1,1) NOT NULL,
	[tituloLibro] [varchar](100) NOT NULL,
	[autor] [varchar](50) NOT NULL,
	[año_publicacion] [varchar](10) NOT NULL,
	[contenido] [varchar](300) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_libro] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[Prestamo]

In [0]:
/****** Object:  Table [dbo].[Prestamo]    Script Date: 15/05/2024 03:53:49 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Prestamo](
	[ID_Prestamo] [int] IDENTITY(1,1) NOT NULL,
	[ID_Usuario] [int] NOT NULL,
	[ID_Libro] [int] NOT NULL,
	[fecha_prestamo] [date] NOT NULL,
	[fecha_devolucion] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Prestamo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[Usuario]

In [0]:
/****** Object:  Table [dbo].[Usuario]    Script Date: 15/05/2024 03:53:49 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[ID_Usuario] [int] IDENTITY(1,1) NOT NULL,
	[nombreCompleto] [varchar](50) NOT NULL,
	[direccion] [varchar](100) NOT NULL,
	[telefono] [varchar](20) NOT NULL,
	[Correo] [varchar](50) NOT NULL,
	[usuario] [varchar](20) NOT NULL,
	[Contraseña] [varchar](20) NOT NULL,
	[Administrador] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[Libro]

In [0]:
SET IDENTITY_INSERT [dbo].[Libro] ON 
INSERT [dbo].[Libro] ([id_libro], [tituloLibro], [autor], [año_publicacion], [contenido]) VALUES (1, N'El Gran Gatsby', N'F. Scott Fitzgerald', N'1925', N'La historia sigue a Jay Gatsby, un millonario misterioso que organiza fiestas extravagantes en su mansión de Long Island.')
INSERT [dbo].[Libro] ([id_libro], [tituloLibro], [autor], [año_publicacion], [contenido]) VALUES (2, N'1984', N'George Orwell', N'1949', N'La novela distópica de Orwell presenta un futuro totalitario donde el gobierno controla todos los aspectos de la vida de las personas.')
INSERT [dbo].[Libro] ([id_libro], [tituloLibro], [autor], [año_publicacion], [contenido]) VALUES (3, N'Don Quijote de la Mancha', N'Miguel de Cervantes', N'1605', N'La obra maestra de Cervantes narra las aventuras del caballero Don Quijote y su fiel escudero Sancho Panza.')
INSERT [dbo].[Libro] ([id_libro], [tituloLibro], [autor], [año_publicacion], [contenido]) VALUES (4, N'Cien años de soledad', N'Gabriel García Márquez', N'1967', N'La saga familiar de los Buendía en el pueblo ficticio de Macondo es una exploración mágica y realista de la historia de América Latina.')
INSERT [dbo].[Libro] ([id_libro], [tituloLibro], [autor], [año_publicacion], [contenido]) VALUES (5, N'Harry Potter y la piedra filosofal', N'J.K. Rowling', N'1997', N'El primer libro de la serie de Harry Potter, que sigue las aventuras de un joven mago en la Escuela de Magia y Hechicería de Hogwarts.')
INSERT [dbo].[Libro] ([id_libro], [tituloLibro], [autor], [año_publicacion], [contenido]) VALUES (6, N'Moby-Dick', N'Herman Melville', N'1851', N'La novela épica de Melville cuenta la obsesión del capitán Ahab por cazar a la legendaria ballena blanca.')
INSERT [dbo].[Libro] ([id_libro], [tituloLibro], [autor], [año_publicacion], [contenido]) VALUES (7, N'Orgullo y prejuicio', N'Jane Austen', N'1813', N'Esta obra de Austen sigue la historia de Elizabeth Bennet mientras lidia con el amor, el matrimonio y las expectativas sociales en la Inglaterra del siglo XIX.')
INSERT [dbo].[Libro] ([id_libro], [tituloLibro], [autor], [año_publicacion], [contenido]) VALUES (8, N'El señor de los anillos', N'J.R.R. Tolkien', N'1954', N'La trilogía épica de Tolkien sigue la lucha entre el bien y el mal en la Tierra Media y la misión de un grupo de personajes para destruir un poderoso anillo.')
INSERT [dbo].[Libro] ([id_libro], [tituloLibro], [autor], [año_publicacion], [contenido]) VALUES (9, N'Crónica de una muerte anunciada', N'Gabriel García Márquez', N'1981', N'La historia relata el asesinato de Santiago Nasar y la inevitabilidad de su destino, anunciado en un pequeño pueblo caribeño.')
INSERT [dbo].[Libro] ([id_libro], [tituloLibro], [autor], [año_publicacion], [contenido]) VALUES (10, N'El principito', N'Antoine de Saint-Exupéry', N'1943', N'El clásico cuento filosófico narra las aventuras de un niño extraterrestre mientras viaja por diferentes planetas y reflexiona sobre la vida y la amistad.')
SET IDENTITY_INSERT [dbo].[Libro] OFF
GO

# [dbo].[Prestamo]

In [0]:
SET IDENTITY_INSERT [dbo].[Prestamo] ON 
INSERT [dbo].[Prestamo] ([ID_Prestamo], [ID_Usuario], [ID_Libro], [fecha_prestamo], [fecha_devolucion]) VALUES (1, 10, 1, CAST(N'2023-05-20' AS Date), CAST(N'2023-06-20' AS Date))
INSERT [dbo].[Prestamo] ([ID_Prestamo], [ID_Usuario], [ID_Libro], [fecha_prestamo], [fecha_devolucion]) VALUES (2, 8, 1, CAST(N'2023-05-21' AS Date), CAST(N'2023-06-21' AS Date))
INSERT [dbo].[Prestamo] ([ID_Prestamo], [ID_Usuario], [ID_Libro], [fecha_prestamo], [fecha_devolucion]) VALUES (3, 2, 2, CAST(N'2023-05-22' AS Date), CAST(N'2023-06-22' AS Date))
INSERT [dbo].[Prestamo] ([ID_Prestamo], [ID_Usuario], [ID_Libro], [fecha_prestamo], [fecha_devolucion]) VALUES (4, 1, 4, CAST(N'2023-05-23' AS Date), CAST(N'2023-06-23' AS Date))
INSERT [dbo].[Prestamo] ([ID_Prestamo], [ID_Usuario], [ID_Libro], [fecha_prestamo], [fecha_devolucion]) VALUES (5, 3, 6, CAST(N'2023-05-24' AS Date), CAST(N'2023-06-24' AS Date))
INSERT [dbo].[Prestamo] ([ID_Prestamo], [ID_Usuario], [ID_Libro], [fecha_prestamo], [fecha_devolucion]) VALUES (6, 1, 6, CAST(N'2023-05-25' AS Date), CAST(N'2023-06-25' AS Date))
INSERT [dbo].[Prestamo] ([ID_Prestamo], [ID_Usuario], [ID_Libro], [fecha_prestamo], [fecha_devolucion]) VALUES (7, 6, 3, CAST(N'2023-05-26' AS Date), CAST(N'2023-06-26' AS Date))
INSERT [dbo].[Prestamo] ([ID_Prestamo], [ID_Usuario], [ID_Libro], [fecha_prestamo], [fecha_devolucion]) VALUES (8, 4, 1, CAST(N'2023-05-27' AS Date), CAST(N'2023-06-27' AS Date))
INSERT [dbo].[Prestamo] ([ID_Prestamo], [ID_Usuario], [ID_Libro], [fecha_prestamo], [fecha_devolucion]) VALUES (9, 2, 5, CAST(N'2023-05-28' AS Date), CAST(N'2023-06-28' AS Date))
INSERT [dbo].[Prestamo] ([ID_Prestamo], [ID_Usuario], [ID_Libro], [fecha_prestamo], [fecha_devolucion]) VALUES (10, 1, 4, CAST(N'2023-05-29' AS Date), CAST(N'2023-06-29' AS Date))
SET IDENTITY_INSERT [dbo].[Prestamo] OFF
GO

# [dbo].[Usuario]

In [0]:
SET IDENTITY_INSERT [dbo].[Usuario] ON 
INSERT [dbo].[Usuario] ([ID_Usuario], [nombreCompleto], [direccion], [telefono], [Correo], [usuario], [Contraseña], [Administrador]) VALUES (1, N'John Doe', N'Calle Principal 123', N'555-1234', N'johndoe@example.com', N'admin', N'admin123', 1)
INSERT [dbo].[Usuario] ([ID_Usuario], [nombreCompleto], [direccion], [telefono], [Correo], [usuario], [Contraseña], [Administrador]) VALUES (2, N'Jane Smith', N'Avenida Central 456', N'555-5678', N'janesmith@example.com', N'janes', N'password123', 0)
INSERT [dbo].[Usuario] ([ID_Usuario], [nombreCompleto], [direccion], [telefono], [Correo], [usuario], [Contraseña], [Administrador]) VALUES (3, N'Michael Johnson', N'Plaza Mayor 789', N'555-7890', N'michaeljohnson@example.com', N'mjohnson', N'qwerty123', 0)
INSERT [dbo].[Usuario] ([ID_Usuario], [nombreCompleto], [direccion], [telefono], [Correo], [usuario], [Contraseña], [Administrador]) VALUES (4, N'Emily Davis', N'Calle Secundaria 321', N'555-4321', N'emilydavis@example.com', N'emily', N'abcd1234', 0)
INSERT [dbo].[Usuario] ([ID_Usuario], [nombreCompleto], [direccion], [telefono], [Correo], [usuario], [Contraseña], [Administrador]) VALUES (5, N'Jane Smith', N'Avenida Central 456', N'555-5678', N'janesmith@example.com', N'jane', N'smith123', 0)
INSERT [dbo].[Usuario] ([ID_Usuario], [nombreCompleto], [direccion], [telefono], [Correo], [usuario], [Contraseña], [Administrador]) VALUES (6, N'Mike Johnson', N'Calle Secundaria 789', N'555-8901', N'mikejohnson@example.com', N'mike', N'johnson123', 0)
INSERT [dbo].[Usuario] ([ID_Usuario], [nombreCompleto], [direccion], [telefono], [Correo], [usuario], [Contraseña], [Administrador]) VALUES (7, N'Emily Davis', N'Boulevard Principal 321', N'555-2345', N'emilydavis@example.com', N'emily', N'davis123', 0)
INSERT [dbo].[Usuario] ([ID_Usuario], [nombreCompleto], [direccion], [telefono], [Correo], [usuario], [Contraseña], [Administrador]) VALUES (8, N'Chris Wilson', N'Carrera Central 654', N'555-6789', N'chriswilson@example.com', N'chris', N'wilson123', 0)
INSERT [dbo].[Usuario] ([ID_Usuario], [nombreCompleto], [direccion], [telefono], [Correo], [usuario], [Contraseña], [Administrador]) VALUES (9, N'Jessica Brown', N'Avenida Principal 987', N'555-0123', N'jessicabrown@example.com', N'jessica', N'brown123', 0)
INSERT [dbo].[Usuario] ([ID_Usuario], [nombreCompleto], [direccion], [telefono], [Correo], [usuario], [Contraseña], [Administrador]) VALUES (10, N'David Thompson', N'Calle Principal 654', N'555-3456', N'davidthompson@example.com', N'david', N'thompson123', 0)
INSERT [dbo].[Usuario] ([ID_Usuario], [nombreCompleto], [direccion], [telefono], [Correo], [usuario], [Contraseña], [Administrador]) VALUES (11, N'Jose Escobar', N'Calle Principal 654', N'235-3456', N'jose.escobar@mail.com', N'jose', N'jose123', 1)
SET IDENTITY_INSERT [dbo].[Usuario] OFF
GO

# [FK__Prestamo__ID_Lib__3B75D760]

In [0]:
ALTER TABLE [dbo].[Prestamo]  WITH CHECK ADD FOREIGN KEY([ID_Libro])
REFERENCES [dbo].[Libro] ([id_libro])
GO

# [FK__Prestamo__ID_Lib__49C3F6B7]

In [0]:
ALTER TABLE [dbo].[Prestamo]  WITH CHECK ADD FOREIGN KEY([ID_Libro])
REFERENCES [dbo].[Libro] ([id_libro])
GO

# [FK__Prestamo__ID_Usu__3C69FB99]

In [0]:
ALTER TABLE [dbo].[Prestamo]  WITH CHECK ADD FOREIGN KEY([ID_Usuario])
REFERENCES [dbo].[Usuario] ([ID_Usuario])
GO

# [FK__Prestamo__ID_Usu__4AB81AF0]

In [0]:
ALTER TABLE [dbo].[Prestamo]  WITH CHECK ADD FOREIGN KEY([ID_Usuario])
REFERENCES [dbo].[Usuario] ([ID_Usuario])
GO

# [dbo].[AgregarLibro]

In [0]:
/****** Object:  StoredProcedure [dbo].[AgregarLibro]    Script Date: 15/05/2024 03:53:49 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--Creando los procedimientos almacenados para la base de datos BibliotecaForm
--Procedimiento almacenado para agregar libros
CREATE PROCEDURE [dbo].[AgregarLibro]
    -- Parámetros para el procedimiento
    @tituloLibro VARCHAR(100), 
    @autor VARCHAR(50), 
    @año_publicacion VARCHAR(10),
    @contenido VARCHAR(300)
AS
BEGIN
    -- SET NOCOUNT ON added to prevent extra result sets from
    -- interfering with SELECT statements.
    SET NOCOUNT ON;
    -- Insertar los valores en la tabla
    INSERT INTO Libro 
        (tituloLibro, autor, año_publicacion, contenido) 
    VALUES 
        (@tituloLibro, @autor, @año_publicacion, @contenido)
END
GO

# [dbo].[EliminarLibro]

In [0]:
/****** Object:  StoredProcedure [dbo].[EliminarLibro]    Script Date: 15/05/2024 03:53:49 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--Procedimiento almacenado para eliminar libros
CREATE PROCEDURE [dbo].[EliminarLibro]
    @idLibro INT
AS
BEGIN
    SET NOCOUNT ON;

    DELETE FROM Libro WHERE id_libro = @idLibro
END
GO

# [dbo].[EliminarPrestamo]

In [0]:
/****** Object:  StoredProcedure [dbo].[EliminarPrestamo]    Script Date: 15/05/2024 03:53:49 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--Procedimiento almacenado para Eliminar Prestamo
CREATE PROCEDURE [dbo].[EliminarPrestamo]
    @idPrestamo INT
AS
BEGIN
    SET NOCOUNT ON;

    DELETE FROM Prestamo WHERE ID_Prestamo = @idPrestamo;
END
GO

# [dbo].[EliminarUsuario]

In [0]:
/****** Object:  StoredProcedure [dbo].[EliminarUsuario]    Script Date: 15/05/2024 03:53:49 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--Procedimiento almacenado para Eliminar Usuario
CREATE PROCEDURE [dbo].[EliminarUsuario]
    @IDUsuario VARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;

    DELETE FROM Usuario WHERE ID_Usuario = @IDUsuario;
END
GO

# [dbo].[MostrarLibros]

In [0]:
/****** Object:  StoredProcedure [dbo].[MostrarLibros]    Script Date: 15/05/2024 03:53:49 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--Pocedimiento almacenado para mostrar libros
CREATE PROCEDURE [dbo].[MostrarLibros]
AS
BEGIN
    SET NOCOUNT ON;
    SELECT * FROM Libro
END
GO

# [dbo].[MostrarPrestamos]

In [0]:
/****** Object:  StoredProcedure [dbo].[MostrarPrestamos]    Script Date: 15/05/2024 03:53:49 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--Procedimiento almacenado para mostrar Prestamos
CREATE PROCEDURE [dbo].[MostrarPrestamos]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT P.ID_Prestamo, 
           U.ID_Usuario,
           U.nombreCompleto, 
           L.id_libro, 
           L.tituloLibro,
           P.fecha_prestamo, 
           P.fecha_devolucion
    FROM Prestamo P
    INNER JOIN Usuario U ON P.ID_Usuario = U.ID_Usuario
    INNER JOIN Libro L ON P.ID_Libro = L.id_libro
END
GO

# [dbo].[MostrarUsuarios]

In [0]:
/****** Object:  StoredProcedure [dbo].[MostrarUsuarios]    Script Date: 15/05/2024 03:53:49 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--Procedimiento almacenado para mostrar Usuarios
CREATE PROCEDURE [dbo].[MostrarUsuarios]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT * FROM Usuario
END
GO

# [dbo].[ObtenerTituloLibroYNombreCompleto]

In [0]:
/****** Object:  StoredProcedure [dbo].[ObtenerTituloLibroYNombreCompleto]    Script Date: 15/05/2024 03:53:49 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--Procedimiento almacenado para Obtener Titulo Libro Y Nombre Completo
CREATE PROCEDURE [dbo].[ObtenerTituloLibroYNombreCompleto]
    @ID_Libro INT,
    @ID_Usuario INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT L.tituloLibro, U.nombreCompleto
    FROM Libro L
    CROSS JOIN Usuario U 
    WHERE L.id_libro = @ID_Libro AND U.ID_Usuario = @ID_Usuario;
END

GO

# [dbo].[RegistrarPrestamo]

In [0]:
/****** Object:  StoredProcedure [dbo].[RegistrarPrestamo]    Script Date: 15/05/2024 03:53:49 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--Procedimiento almacenado para Registrar Prestamo
CREATE PROCEDURE [dbo].[RegistrarPrestamo]
    @ID_Usuario INT,
    @ID_Libro INT,
    @fecha_prestamo DATE,
    @fecha_devolucion DATE
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO Prestamo (ID_Usuario, ID_Libro, fecha_prestamo, fecha_devolucion)
    VALUES (@ID_Usuario, @ID_Libro, @fecha_prestamo, @fecha_devolucion);
END
GO

# [dbo].[RegistrarUsuario]

In [0]:
/****** Object:  StoredProcedure [dbo].[RegistrarUsuario]    Script Date: 15/05/2024 03:53:49 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--Procedimiento almacenado para Registrar Usuario
CREATE PROCEDURE [dbo].[RegistrarUsuario]
    @nombreCompleto NVARCHAR(100),
    @direccion NVARCHAR(100),
    @telefono NVARCHAR(20),
    @correo NVARCHAR(50),
    @usuario NVARCHAR(50),
    @contraseña NVARCHAR(50),
    @administrador INT
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO Usuario (nombreCompleto, direccion, telefono, Correo, usuario, Contraseña, Administrador) 
    VALUES (@nombreCompleto, @direccion, @telefono, @correo, @usuario, @contraseña, @administrador);
END
GO

# [BibliotecaFrom]

In [0]:
USE [master]
GO

In [0]:
ALTER DATABASE [BibliotecaFrom] SET  READ_WRITE 
GO